In [1]:
import pandas as pd
cooking=pd.read_csv('C:\DS&AI\Vimala\Python\AI Principles and Best Practices in Canada 01\whats_cookin\exportable_action_objects_youtube.csv')

In [2]:
cooking.describe()

             170799        178799
count  3.649340e+05  3.649340e+05
mean   2.348403e+05  2.428403e+05
std    2.456125e+05  2.456125e+05
min   -1.961000e+03  6.039000e+03
25%    8.566900e+04  9.366900e+04
50%    1.649400e+05  1.729400e+05
75%    2.997568e+05  3.077568e+05
max    5.950489e+06  5.958489e+06

In [3]:
cooking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364934 entries, 0 to 364933
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   BpZD1Wbxo14  364934 non-null  object
 1   170799       364934 non-null  int64
 2   178799       364934 non-null  int64
 3   set          364934 non-null  object
 4   Unnamed: 4   246552 non-null  object
dtypes: int64(2), object(3)
memory usage: 13.9+ MB

In [4]:
cooking.columns

Index(['BpZD1Wbxo14', '170799', '178799', 'set', 'Unnamed: 4'], dtype='object')

In [5]:
cooking.head(2)

   BpZD1Wbxo14  170799  178799      set Unnamed: 4
0  f9pjQJBGyYE  348500  356500    chill        NaN
1  5-P7x4FV4lg   64279   72279  combine        rep